<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26201" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading" version="15.3.23" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net45" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.0.26201" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="NUnit.Console" version="3.6.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Runners" version="2.6.3" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="ReportGenerator" version="2.5.9" targetFramework="net461" />
</packages>